<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bigpupdev.synodroid"
      android:versionCode="208"
      android:versionName="2.0.8"
      android:installLocation="auto">
    
  <uses-sdk
    android:minSdkVersion="4"
    android:targetSdkVersion="14" />
	
  <application 
    android:label="@string/app_name"
    android:icon="@drawable/ic_launcher" 
    android:logo="@drawable/title_logo"
    android:theme="@style/Theme.Synodroid"
    android:hardwareAccelerated="true"
    android:name="com.bigpupdev.synodroid.Synodroid">
    	
    <activity 
      android:name=".ui.HomeActivity"
      android:theme="@style/Theme.Synodroid.Home"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:launchMode="singleTask"
      android:label="@string/app_name">
            
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:mimeType="text/plain"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />  
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="magnet" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />  
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="*" android:pathPattern=".*\\.torrent" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />  
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" android:host="*" android:pathPattern=".*\\.torrent" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />  
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="file" android:host="*" android:pathPattern=".*\\.torrent" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />  
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="*" android:pathPattern=".*\\.nzb" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />  
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" android:host="*" android:pathPattern=".*\\.nzb" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />  
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="file" android:host="*" android:pathPattern=".*\\.nzb" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:mimeType="application/x-bittorrent"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" android:mimeType="application/x-bittorrent"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="file" android:mimeType="application/x-bittorrent"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />  
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:mimeType="application/x-nzb"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />  
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" android:mimeType="application/x-nzb"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />  
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="file" android:mimeType="application/x-nzb"/>
      </intent-filter>
      <meta-data android:name="android.app.default_searchable"
                   android:value=".ui.SearchActivity" />
    </activity>    
    
    <activity android:name=".ui.SearchActivity"
      android:theme="@style/Theme.Synodroid.Home"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:launchMode="singleTop"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
    </activity>
    
    <activity 
      android:name=".ui.DownloadPreferenceActivity"
      android:theme="@style/Theme.Synodroid.Home"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"></action>
        <category android:name="android.intent.category.PREFERENCE"></category>
      </intent-filter>
    </activity>
    
    <activity 
      android:name=".ui.DetailActivity"
      android:theme="@style/Theme.Synodroid.Home"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"></action>
        <category android:name="android.intent.category.DEFAULT"></category>
      </intent-filter>
    </activity>
    
    <activity 
      android:name=".ui.HelpActivity"
      android:theme="@style/Theme.Synodroid.Home"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"></action>
        <category android:name="android.intent.category.DEFAULT"></category>
      </intent-filter>
    </activity>
	<activity 
      android:name=".ui.AboutActivity"
      android:theme="@style/Theme.Synodroid.Home"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"></action>
        <category android:name="android.intent.category.DEFAULT"></category>
      </intent-filter>
    </activity>
	<provider android:name=".utils.SynodroidSearchSuggestion"
              android:authorities="com.bigpupdev.synodroid.utils.SynodroidSearchSuggestion" />
  </application>
    
  <uses-permission android:name="android.permission.BROADCAST_STICKY"></uses-permission>
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"></uses-permission>
  <supports-screens android:smallScreens="true"/>
</manifest>